.new-tweet
  %h1 EDIT
  .new-tweet__content
    = form_with(model: @tweet, local: true) do |form|
      //form.htmlタグ名 :カラム名(tweetsテーブルに保存)
      #title= form.text_field :title, placeholder: "title"
      = form.text_area :text, placeholder: "text"
      = icon('fas', 'image', id: "i")
      = form.file_field :image, class: "image"
      = form.submit