.new-tweet
  %h1 EDIT
  .new-tweet__content
    = form_with(model: @tweet, local: true) do |form|
      //form.htmlタグ名 :カラム名(tweetsテーブルに保存)
      #title= form.text_field :title, placeholder: "title"
      P :
      %p= form.number_field :protein, placeholder: "タンパク質"
      F :
      %p= form.number_field :fat, placeholder: "脂質"
      C :
      %p= form.number_field :carb, placeholder: "炭水化物"
      = form.text_area :detail, placeholder: "作り方", class: "form-area"
      %label.label
        = icon('fas', 'image')
        = form.file_field :image, class: "image"
      = form.submit
      %p  <br>STAY HUNGRY BE AESTHETIC