.back
  .recipe
    %i.fas.fa-utensils
    %h1 recipes
    
  .contents.row
    - @tweets.each do |tweet| 
      = link_to tweet_path(tweet.id), method: :get do
        .content_post{:style => "background-image: url(#{tweet.image});"}
          .pfc
            %p1 F :
            %pF C :
            %pC P :
            %p= tweet.fat
            %pp= tweet.carb
            %ppp= tweet.protein
          %p2= tweet.title
          .userArea= link_to tweet.user.nickname, user_path(tweet.user.id)
          = render partial: 'tweets/tweets', locals: {tweet: tweet}
          
