.new-tweet
  %h1 NEW POST 
  .new-tweet__content
    = form_with(model: @tweet, local: true) do |form|
      //form.htmlタグ名 :カラム名(tweetsテーブルに保存)
      #title= form.text_field :title, placeholder: "title"
      P :
      %p= form.number_field :text, placeholder: "タンパク質"
      F :
      %p= form.number_field :text, placeholder: "炭水化物"
      C :
      %p= form.number_field :text, placeholder: "脂質"
      = icon('fas', 'image', id: "i")
      = form.file_field :image, class: "image"
      = form.submit
      %p  <br>STAY HUNGRY BE AESTHETIC