
.contents.row
  - @tweets.each do |tweet|
    = link_to tweet_path(tweet.id), method: :get do
      .content_post{:style => "background-image: url(#{tweet.image});"}
        %p= tweet.text
        %p2= tweet.title
        %p3= tweet.user.nickname
