
.contents.row
  .content_post{:style => "background-image: url(#{@tweet.image});"}
    - if user_signed_in? && current_user.id == @tweet.user_id
      .more
        %ul.more_list
          %li
            = link_to(content_tag(:i, nil, class: 'fas fa-edit'),edit_tweet_path(@tweet.id),method: :get)
          %li
            = link_to(content_tag(:i, nil, class: 'fas fa-trash-alt'),tweet_path(@tweet.id),method: :delete,data: { confirm: '本当に削除しますか？' }) 
    .pfc
      %p1 C :
      %pF F :
      %pC P :
      %p= @tweet.fat
      %pp= @tweet.carb
      %ppp= @tweet.protein
    %p2= @tweet.title
    = render partial: 'tweets/tweets', locals: {tweet: @tweet}
    .container
      - if current_user
        = form_with(model: [@tweet, @comment], local: true, class: "comment") do |form|
          = form.text_area :text, placeholder: "write a comment", rows: "2", class: "form_input"
          = form.submit "SEND", class: ".form__submit"
      - else
        %p1 ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜comment＞
      - if @comments
        - @comments.each do |comment|
          .comments__c
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
            = comment.text 
  .detail
    .detail__intro
      %make<How to Make>
    .detail__recipe
      = @tweet.detail


