.introduce
  .content
    .userbox
      .userbox__top
        .userbox__top__left
          // アイコン表示部分
          .userbox__top__left__icon
            -if @image.present?
              = image_tag @image.url, width: '100%', class: "userbox__top__left__icon--image"
      .name
        .intro
          .introduce__name
          = @nickname
          .introduce__edit
          -if current_user.id == @user.id
            = link_to edit_user_path do
              %i.fas.fa-user-edit
          .follower
            = link_to followers_user_path(@user.id) do
              %h5{:style => "color: black;"}
                フォロワー#{@user.followers.count}人
          .follow
            = link_to following_user_path(@user.id) do
              %h5{:style => "color: black;"}
                フォロー#{@user.following.count}人
          .form
            = render "follow_form"

                

            

        .bottom
        = simple_format(@profile)
        

.contents.row
  %p
  - @tweets.each do |tweet|
    = link_to tweet_path(tweet.id), method: :get do
      .content_post{:style => "background-image: url(#{tweet.image});"}
        .pfc
          %p1 F :
          %pF C :
          %pC P :
          %p= tweet.fat
          %pp= tweet.carb
          %ppp= tweet.protein
        %p2= tweet.title
        = render partial: 'tweets/tweets', locals: {tweet: tweet}
        