.introduce
  .content
    .userbox
      .userbox__top
        .userbox__top__left
          // アイコン表示部分
          .userbox__top__left__icon
            -if @image.present?
              = image_tag @image.url, width: '100%'
      .name
        .intro
          .introduce__name
          = @nickname
          .introduce__edit
          = link_to edit_user_path do
            %i.fas.fa-user-edit
          .follow
            .following
              %p= link_to "follow", follows_user_path(@user.id)
              = link_to follows_user_path(@user) do
                = @user.followings.count
            .follower
              %p= link_to "follower", followers_user_path(@user.id)
              = link_to followers_user_path(@user) do
                = @user.followers.count
          .sns
            .instagram
              =link_to "#{@user.instagram}" do
                %i.fab.fa-instagram
            .facebook
              =link_to "#{@user.facebook}" do
                %i.fab.fa-facebook
            .twitter
              =link_to "#{@user.twitter}" do
                %i.fab.fa-twitter

        .bottom
        = simple_format(@profile)
        

.contents.row
  %p
  - @tweets.each do |tweet|
    = link_to tweet_path(tweet.id), method: :get do
      .content_post{:style => "background-image: url(#{tweet.image});"}
        .pfc
          %p1 F :
          %pF C :
          %pC P :
          %p= tweet.fat
          %pp= tweet.carb
          %ppp= tweet.protein
        %p2= tweet.title
        = render partial: 'tweets/tweets', locals: {tweet: tweet}
        - if current_user != @user
          - if @user.followed_by?(current_user)
            %p= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete
          - else
            %p= link_to "フォローする", user_relationships_path(@user.id), method: :post
          
