.new
  .new_form
    %h2 ログイン
    .auth
      = link_to user_facebook_omniauth_authorize_path do
        .facebook 
          %i.fab.fa-facebook 
          %p faceboookでログイン
      <br>
      = link_to user_google_oauth2_omniauth_authorize_path do
        .google
          %i.fab.fa-google 
          %p googleでログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "ログイン"
    = render "devise/shared/links"

