
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MachoFood
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    %link{:href => "https://fonts.googleapis.com/css2?family=Ranchers&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Ranchers&family=Rowdies:wght@700&family=Staatliches&display=swap", :rel => "stylesheet"}/

  %body
    .header
      .header__child
        .header__child--logo
          = link_to "/tweets" do
            %h1 Macho Food
            %i.fab.fa-meetup
      .header__list
        %ul.header__list--icon
          - if user_signed_in?
            .user
              %li.icons
                = link_to "/users/#{current_user.id}" do
                  %i.fas.fa-user
                %nickname= @nickname
              %li.icons
                = link_to new_tweet_path do
                  %i.fas.fa-upload
                %logout= link_to "LOG OUT", destroy_user_session_path, method: :delete
          - else
            .user_grid
              = link_to "LOG IN", new_user_session_path, class: "post"
              = link_to "SIGN UP", new_user_registration_path, class: "post"
          %li.icons
            = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
              = form.text_field :keyword, placeholder: "search", class: "search-input"
              = form.submit "SEND", class: "search-btn"
              

    = yield
    -# .footer
    -#   %p
    -#     Copyright 2020 machofood STAY HUNGRY BE AESTHETIC
      